<ion-header>
  <ion-toolbar>
    <img src="assets/icon.png" width="40px" style="display:inline-block" height="40px" slot="start"/>
    <ion-title>
      Space Goat & Co
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd>
        <ion-card>
          <ion-card-header>
            <img src="assets/skyler.svg" class="person-pic">
            <ion-card-title>Skyler</ion-card-title>
            <ion-card-subtitle>Co-Founder, Lead Designer, Lead Developer</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              Skyler is a software engineer who has a passion for creating mobile websites and apps! His favorite hobbies include creating new apps, cooking delicious food, and tending to his many houseplants.
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd>
        <ion-card>
          <ion-card-header>
            <img src="assets/leslie.svg" class="person-pic">
            <ion-card-title>Leslie</ion-card-title>
            <ion-card-subtitle>Co-Founder, Administrative Genius</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              Leslie is a future law student and is incredible at understanding the ins and outs of confusing paperwork. Leslie loves winning every Carcassonne game she plays, and cuddling with her kitties.
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>What We Do</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              Here at Space Goat & Co, we are excited to help you create the perfect web application or mobile application for your business or hobby! We can take care of your existing website or create a brand new website from the beginning of the process. If you are looking for a mobile app, we can help you with that development and deployment as well! We are willilng and excited to work with you on any custom project that you are excited about.
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
