<ion-header>
  <ion-toolbar>
    <img src="assets/icon.png" width="40px" style="display:inline-block" height="40px" slot="start"/>
    <ion-title>
      Space Goat & Co
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/homepage.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Space Goat & Co</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Thanks for checking us out! Click around on the tabs to read more about us.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
