<ion-header>
  <ion-toolbar>
    <img src="assets/icon.png" width="40px" style="display:inline-block" height="40px" slot="start"/>
    <ion-title>
      Space Goat & Co
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-label align="center">
                SKYLER@SPACEGOATANDCO.COM
              </ion-label>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
