<ion-header>
  <ion-toolbar>
    <img src="assets/icon.png" width="40px" style="display:inline-block" height="40px" slot="start"/>
    <ion-title>
      Space Goat & Co
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid size="12">
  <ion-row align-items-center justify-content-center>
    <ion-card >
      <ion-card-header>
        <ion-card-title style="text-align: center">skyler@spacegoatandco.com</ion-card-title>
        <ion-card-subtitle style="text-align: center">We'd love to hear from you, feel free to send us an email!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row align-items-center justify-content-center>
            <ion-buttons>
              <ion-button href="mailto:skyler@spacegoatandco.com?Subject=Hello!">
                Email!
              </ion-button>
            </ion-buttons>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
</ion-content>
